


@model Examen1ra.Models.Cliente


<h2>Ficha Cliente</h2>

<hr />

<div class="dl-horizontal">
    <label>Nombre</label>
    <span>@Model.nombre</span>
</div>

<div class="dl-horizontal">
    <label>Apellido</label>
    <span>@Model.apellido</span>
</div>
<div class="dl-horizontal">
    <label>Rut</label>
    <span>@Model.rut</span>
</div>
<div class="dl-horizontal">
    <label>Direccion</label>
    <span>@Model.direccion</span>
</div>
<div class="dl-horizontal">
    <label>Tipo de Cliente</label>
    <span>@Model.tipocliente</span>
</div>


