


@model Examen1ra.Models.Productos


<h2>Ficha Producto</h2>

<hr />

<div class="dl-horizontal">
    <label>Codigo de barras</label>
    <span>@Model.codigobarra</span>
</div>

<div class="dl-horizontal">
    <label>Nombre</label>
    <span>@Model.nombre</span>
</div>
<div class="dl-horizontal">
    <label>Familia de Productos</label>
    <span>@Model.familia</span>
</div>
<div class="dl-horizontal">
    <label>Precio</label>
    <span>@Model.precio</span>
</div>
<div class="dl-horizontal">
    <label>Descuento Maximo</label>
    <span>@Model.descuentomax</span>
</div>
<div class="dl-horizontal">
    <label>Descripcion</label>
    <span>@Model.descripcion</span>
</div>


